<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="action_page.php">
        <div class="container">
           <h1>Регистрация</h1>
            <hr>
            <label for="namep"<b>Имя пользователя</b></label>
            <input type="text"
            placeholder="Введите имя пользователя" name="polz" required>

            <label for="email"><b>Email</b></label>
            <input type="text"
            placeholder="Введите Email" name="email" required>

    <label for="psw"><b>Пароль</b></label>
    <input type="password" placeholder="Введите пароль" name="psw" required>

    <label for="psw-repeat"><b>Повторите пароль</b></label>
    <input type="password" placeholder="Повторите пароль" name="psw-repeat" required>
    <hr>

    <button type="submit" class="registerbtn">Регистрация</button>
  </div>

  <div class="container signin">
    <p>Есть ли у вас аккаунт?<a href="#"> Вход</a></p>
  </div>
</form> 
        </div>
    </form>
</body>
</html>